body {
  margin: 0px;
  padding: 0px;
  color: #6e6e6e;
  background: #b2e1ff; /* Old browsers */
  background: -moz-linear-gradient(top, #b2e1ff 21%, #66b6fc 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b2e1ff 21%,#66b6fc 80%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b2e1ff 21%,#66b6fc 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.loading {
  margin: auto;
  text-align: center;
}

.toggleTemp {
  padding: 4px 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #2769b0;
  color: #fff;
  margin-left: 15px;
  border-radius: 3px;
  padding-bottom: 6px;
}

.toggleTemp:hover {
  background-color: #3b88db;
}

.wrap-three {
  display: flex;
  width: 92%;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
  margin:auto;
}

.card-hour {
  width: 34%; 
  padding: 0px;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #3b88db;
}

.card-body-hour {
  text-align: center;
}

.container-two {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.container-one {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.card-two {
  width: 12%; 
  padding: 0px;
  margin: 1px;
  background-color: #fff;
  border: 1px solid #3b88db;
}

.searchForm {
  width: 50%;
  margin: auto;
  display: flex;
  padding-bottom: 50px;
  padding-top: 50px;
}

input[type="text"] {
  width: 100%;
  justify-content: center;
  margin: auto;
  border: none;
  border-bottom: 1.5px solid #2769b0;
  font-size: 25px;
  padding-left: 5px;
  background-color: transparent;
}

.submitBtn {
  padding: 4px 14px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #2769b0;
  color: #fff;
  margin-left: 2px;
  border-radius: 3px;
  padding-bottom: 6px;
}

.submitBtn:hover {
  background-color: #3b88db;
}

.titlenav {
  height: 70px;
  text-align: center;
}

.title {
  margin: 0px;
  padding-top: 15px;
  color: #fff;
  font-size: 30px;
}

.card-text {
  font-size: 15px;
  padding: 10px;
}

.card-img-top {
  padding: 10px;
    width: 35%;
  
}

.card-body {
  text-align: center;
  padding: 0px;
}

.list-group {
  text-align: center;
}

.listone {
  width: 50%;
  margin-top: 15px;
}

.celsius {
  width: 10%;
}

.card {
  width: 40%;
  background-color: #fff;
  border: 1px solid #3b88db;
  flex-direction: row;
  border-radius: 2%;
}

.card-title {
  font-size: 15px;
  padding-top: 20px;
}

.temp {
  font-size: 30px;
  padding-top: 20px;
}

.img-wrap {
  width: 70%;
  margin: auto;
}

.list-group-item {
  font-size: 14px;
  border: none;
}

.list-group-item-one {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border-bottom: 1px solid #3b88db;
  font-size: 13px;
}

.wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.wrap-two {
  width: 95%; 
  display: flex;
  margin: auto;    
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  height: 70px;
  text-align: center;
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footertitle {
  padding-top: 20px;
}

@media (min-width: 1200px) {
  .container-one {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .App {
    display: block;
  }
  .searchForm {
    width: 90%;
  }
  h5 {
    font-size: 17px;
  }
  .card {
    width: 90%;
  }
  .img-wrap {
    width: 100%;
  }
  .card-img-top {
    width: 60%;
  }
  .wrap-three {
    flex-wrap: wrap;
  }
  .wrap-two {
    flex-wrap: wrap;
  }
  .card-hour {
    width: 48%;
  }
  .card-two {
    width: 47%;
  }
}
