body {
  margin: 0px;
  padding: 0px;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrap-three {
  display: flex;
  width: 81%;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card-hour {
  width: 13%; 
  padding: 0px;
  margin: 2px;
  border: 2px solid teal;
}

.card-body-hour {
  text-align: center;
}

.container-two {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.container-one {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.card-two {
  width: 20%; 
  padding: 0px;
  margin: 1px;
  border: 2px solid teal;
}

.searchForm {
  width: 50%;
  margin: auto;
  display: flex;
  padding-bottom: 50px;
  padding-top: 50px;
}

input[type="text"] {
  width: 100%;
  justify-content: center;
  margin: auto;
  border: none;
  border-bottom: 1.5px solid teal;
  font-size: 25px;
  padding-left: 5px;
}

.submitBtn {
  padding: 4px 14px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: teal;
  color: #fff;
  margin-left: 2px;
  border-radius: 3px;
}

.submitBtn:hover {
  background-color: #009a9a;
}

.titlenav {
  background-color: teal;
  height: 70px;
  text-align: center;
}

.title {
  margin: 0px;
  padding-top: 10px;
  color: #fff;
}

.card-text {
  font-size: 15px;
}

.card-img-top {
  padding: 20px;
  width: 35%;
}

.card-body {
  text-align: center;
}

.list-group {
  text-align: center;
}

.celsius {
  width: 10%;
}

.card {
  width: 50%;
  background-color: #fff;
  border: 2px solid teal;
}

.card-title {
  font-size: 15px;
}

.temp {
  font-size: 50px;
  padding-top: 20px;
}

.img-wrap {
  width: 50%;
  margin: auto;
}

.list-group-item {
  font-size: 14px;
}

.list-group-item-one {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  font-size: 13px;
}

.wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.wrap-two {
  width: 100%; 
  display: flex;
  width: 100%;
  margin: auto;    
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  height: 70px;
  text-align: center;
  background-color: teal;
  color: #fff;
  margin-top: 70px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footertitle {
  padding-top: 20px;
}

@media (min-width: 1200px) {
  .container-one {
    max-width: 100%;
  }
}
